.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
}

.layout-content {
    background-color: var(--surface-overlay);
    border-radius: var(--content-border-radius);
    padding: 1.5rem;
    min-height: calc(100vh - 8rem);
    margin-bottom: 2rem;
}
